<template name="headerMain">
  <header id="navbar">
    <div id="navbar-container" class="boxed">
      <!--Brand logo & name-->
      <div class="navbar-header">
        <a href="/" class="navbar-brand">
          <!--<img src="/img/logo.png" alt="Nifty Logo" class="brand-icon">-->
          <div class="brand-title">
            <span class="brand-text">{{App.config.siteTitle}}</span>
          </div>
        </a>
      </div>

      <!--NavBar-->
      <div class="navbar-content">
        <ul class="nav navbar-top-links">
          <!-- todo: 暂不提供全局搜索 -->
          <!--Search-->
          <!--<li>
            <div class="custom-search-form">
              <label class="btn btn-trans" for="search-input" data-toggle="collapse" data-target="#nav-searchbox">
                <i class="demo-pli-magnifi-glass"></i>
              </label>
              <form>
                <div class="search-container collapse" id="nav-searchbox">
                  <input id="search-input" type="text" class="form-control" placeholder="Type for search...">
                </div>
              </form>
            </div>
          </li>-->
          <!--End Search-->
        </ul>

        <ul class="nav navbar-top-links">
          {{#if user}}
            <!-- blog -->
            <li class="dropdown">
              <a href="{{pathFor ROUTER.blog.name userId=user.id}}" class="dropdown-toggle">
                <div class="username">我的博客</div>
              </a>
            </li>
            <!--User-->
            <li id="dropdown-user" class="dropdown">
              <a href="#" data-toggle="dropdown" class="dropdown-toggle text-right">
                <div class="username">{{user.name}}</div>
              </a>
              <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right panel-default">
                <ul class="head-list">
                  <li>
                    <a href="{{pathFor ROUTER.accountInfo.name}}">
                      <i class="demo-pli-male icon-lg icon-fw"></i> {{user.name}}</a>
                  </li>
                  <li>
                    <a href="{{pathFor ROUTER.accountNews.name}}">
                      <!--<span class="badge badge-danger pull-right">9</span>-->
                      <i class="demo-pli-mail icon-lg icon-fw"></i> 我的消息</a>
                  </li>
                  <li>
                    <a href="{{pathFor ROUTER.accountConfig.name}}">
                      <i class="demo-pli-gear icon-lg icon-fw"></i> 账户设置</a>
                  </li>
                  {{#if user.isSuper}}
                    <li>
                      <a href="{{pathFor ROUTER.system.name}}">
                        <i class="demo-pli-wrench icon-lg icon-fw"></i> 系统设置</a>
                    </li>
                  {{/if}}
                  <li>
                    <a href="/logout"><i class="demo-pli-unlock icon-lg icon-fw"></i> 登出</a>
                  </li>
                </ul>
              </div>
            </li>
          {{else}}
            <li>
              <a href="/login" class="dropdown-toggle">登录</a>
              <a href="/register" class="dropdown-toggle">注册</a>
            </li>
          {{/if}}
        </ul>
      </div>
    </div>
  </header>
</template>
