<template name="footer">
  <footer id="footer">
    <div class="pull-right pad-rgt">
      <a class="text-mint">
        <em class="fa fa-envelope"></em>&nbsp; <span class="hidden-xs">livia_peng@163.com</span></a>
      &nbsp;|&nbsp;
      <a href="https://github.com/Livia-Peng" target="_blank" class="text-mint">
        <em class="fa fa-github-alt"></em>&nbsp; <span class="hidden-xs">https://github.com/Livia-Peng</span></a>
    </div>

    <p class="pad-lft text-mint text-bold">Powered by Livia-Peng</p>
  </footer>
</template>
