<template name="userNav">
  <div class="fixed-sm-250 pull-sm-right hidden-xs">
    <div class="panel mar-hor">
      <ul class="list-group">
        <li class="list-group-item">{{blogUserInfo.name}}</li>
        <!--<li class="list-group-item">Age</li>-->
        <li class="list-group-item">粉丝&nbsp;{{blogUserInfo.fans}}</li>
        <li class="list-group-item">关注&nbsp;{{blogUserInfo.interested}}</li>
        {{#if blogUserInfo.showBtn}}
          <li class="list-group-item">
            <a class="btn-link cursor-pointer" title="添加关注"> 添加关注+ </a>
          </li>
        {{/if}}
      </ul>
    </div>
    <hr class="new-section-sm mar-hor">

    <p class="pad-hor mar-top text-main text-bold text-sm text-uppercase">文章分类</p>
    <ul class="list-inline mar-hor pad-btm bord-btm">
      {{#each categoryList}}
        <li class="tag tag-sm">
          <a class="cursor-pointer" data-for="{{value}}" data-action="chooseCategory">
            <i class="demo-pli-tag"></i> {{{label}}}</a>
        </li>
      {{/each}}
    </ul>

    <p class="pad-hor mar-top text-main text-bold text-sm text-uppercase">最新评论</p>
    {{#each curComments}}
      <div class="list-group bg-trans">
        <a href="#" class="list-group-item">
          <div class="media-body">
            <p class="mar-no text-main">{{commentedBy}}</p>
            <small>{{createdAt}}</small>
            <p class="pad-top text-sm text-overflow">{{content}}</p>
          </div>
        </a>
      </div>
    {{/each}}
  </div>
</template>
