<template name="articleInfo">
  <div class="fixed-sm-300 pull-sm-right">
    <div class="panel">
      <div class="panel-body">
        <p class="text-main text-bold text-uppercase">文章摘要</p>
        <div class="form-horizontal">
          <div class="form-group">
            <textarea name="abstract" class="form-control" rows="5"
                      placeholder="Blog Abstract 100字以内">{{blogInfo.abstract}}</textarea>
          </div>
        </div>
        <hr>
        <p class="text-main text-bold text-uppercase">文章设置</p>
        <div class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-5 control-label text-left" for="demo-hor-inputpass">可见性</label>
            <div class="col-sm-7">
              <div class="select">
                <select name="visibility">
                  <option value="public">公开</option>
                  <option value="friends">仅好友可见</option>
                  <option value="private">仅自己可见</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-5 control-label text-left" for="demo-hor-inputpass">文章类别</label>
            <div class="col-sm-7">
              <div class="select">
                <select name="category">
                  <option value="none">不分类</option>
                  {{#each categoryList}}
                    <option value="{{value}}" {{selected}}>{{label}}</option>
                  {{/each}}
                </select>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-5 control-label text-left" for="demo-hor-inputpass">允许评论</label>
            <div class="col-sm-7">
              <input name="allowComment" class="toggle-switch" id="demo-allow-comments"
                     type="checkbox" checked="{{blogInfo.allowComment}}">
              <label for="demo-allow-comments"></label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
