<template name="Admin_body">
  <div id="container" class="effect aside-float aside-bright mainnav-out slide navbar-fixed">
    <!--NAVBAR-->
    {{> headerMain}}

    <div class="boxed">
      <div id="content-container">
        {{> Template.dynamic template=bc}}

        <div id="page-content" class="container">
          {{> Template.dynamic template=main}}
        </div>
      </div>
    </div>

    <!-- FOOTER -->
    {{> footer}}

    <!-- SCROLL PAGE BUTTON -->
    <button class="scroll-top btn">
      <i class="pci-chevron chevron-up"></i>
    </button>
  </div>

  <!--<script type="application/javascript" src="/libs/jq/jquery.min.js"></script>-->
</template>
