@import "./variable.less";

// ui block ========================
div.UIBlock {
  background: rgba(0, 0, 0, 0.3);
}
div.UIBlock .spinner .message {
  color: rgba(255, 255, 255, 0.8);
}
.ui.dimmer {
  z-index: 9999;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
}

.bottom {
  .dataTables_length, .dataTables_info {
    display: inline-block;
  }
}

// dataTable sort
table.dataTable thead .sorting:after {
  font-family: fontawesome!important;
  content: "\f0dc"!important;
}
table.dataTable thead .sorting_asc:after {
  font-family: fontawesome!important;
  content: "\f0de"!important;
}
table.dataTable thead .sorting_desc:after {
  font-family: fontawesome!important;
  content: "\f0de"!important;
}
