@import "./variable.less";

// ui block ========================
div.UIBlock {
  background: rgba(0, 0, 0, 0.3);
}
div.UIBlock .spinner .message {
  color: rgba(255, 255, 255, 0.8);
}
.ui.dimmer {
  z-index: 9999;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
}
